[Desktop Entry]
Name=Gneelight
Exec=/app/Gneelight/bin/runner.sh
Type=Application
Icon=display-brightness-symbolic
Categories=GNOME;GTK;Office;Dictionary;